Package: com.creaturecoding.libcspreferences
Name: libCSPreferences
Depends:
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Preferences Library!
Maintainer: CreatureSurvive
Depiction: https://creaturesurvive.github.io/CSPreferences/
Author: CreatureSurvive
Section: Libraries
Tag: role::developer
